In [2]:
import pandas as pd

In [29]:
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [5]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [6]:
### code here
print('sum of the SepalLengthCm : ',df['SepalLengthCm'].sum())
print('mean of the SepalLengthCm : ',df['SepalLengthCm'].mean())
print('maximum of the SepalLengthCm : ',df['SepalLengthCm'].max())
print('minimum of the SepalLengthCm : ',df['SepalLengthCm'].min())

sum of the SepalLengthCm :  876.5
mean of the SepalLengthCm :  5.843333333333335
maximum of the SepalLengthCm :  7.9
minimum of the SepalLengthCm :  4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [7]:
### code here
df.loc[20:,'Id':]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 4. Write a Pandas program to display the last ten rows.

In [8]:
### code here
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [19]:
### code here
print(df.groupby(['Species'])['PetalLengthCm'].sum())

Species
Iris-setosa         73.2
Iris-versicolor    213.0
Iris-virginica     277.6
Name: PetalLengthCm, dtype: float64

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [10]:
### code here
df[df['PetalLengthCm']>2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [20]:
### code hereIris
df[(df['Species']=='Iris-versicolor') | (df['Species']=='Iris-virginica') ]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sixth_position
50,51,7.0,3.2,4.7,1.4,Iris-versicolor,<NA>
51,52,6.4,3.2,4.5,1.5,Iris-versicolor,<NA>
52,53,6.9,3.1,4.9,1.5,Iris-versicolor,<NA>
53,54,5.5,2.3,4.0,1.3,Iris-versicolor,<NA>
54,55,6.5,2.8,4.6,1.5,Iris-versicolor,<NA>
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,<NA>
146,147,6.3,2.5,5.0,1.9,Iris-virginica,<NA>
147,148,6.5,3.0,5.2,2.0,Iris-virginica,<NA>
148,149,6.2,3.4,5.4,2.3,Iris-virginica,<NA>
149,150,5.9,3.0,5.1,1.8,Iris-virginica,<NA>

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [12]:
### code here
df['SepalLengthCm'].sort_values()

13     4.3
42     4.4
38     4.4
8      4.4
41     4.5
      ...
122    7.7
118    7.7
117    7.7
135    7.7
131    7.9
Name: SepalLengthCm, Length: 150, dtype: float64

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [30]:
### code here
df['sixth_position']=pd.NA
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sixth_position
0,1,5.1,3.5,1.4,0.2,Iris-setosa,<NA>
1,2,4.9,3.0,1.4,0.2,Iris-setosa,<NA>
2,3,4.7,3.2,1.3,0.2,Iris-setosa,<NA>
3,4,4.6,3.1,1.5,0.2,Iris-setosa,<NA>
4,5,5.0,3.6,1.4,0.2,Iris-setosa,<NA>
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,<NA>
146,147,6.3,2.5,5.0,1.9,Iris-virginica,<NA>
147,148,6.5,3.0,5.2,2.0,Iris-virginica,<NA>
148,149,6.2,3.4,5.4,2.3,Iris-virginica,<NA>
149,150,5.9,3.0,5.1,1.8,Iris-virginica,<NA>

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [40]:
### code here
# a=df.sum(axis=1)
df.columns
b=df[['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'sixth_position']].sum()
s=pd.DataFrame(b).T
s

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sixth_position
0,11325,876.5,458.1,563.8,179.8,Iris-setosaIris-setosaIris-setosaIris-setosaIr...,0